body {
  margin: 0;
  font-family: sans-serif;
}


.todo-app {
  height: 100vh;
  display: flex;
}


.side-bar {
  border-right: 1px solid black;
  background-color: #5b78c7;
}




.menu-button {
  width: 100%;
  margin: 50px 0;
  padding: 10px;
  border: none;
  font-size: 2rem;
  border-top: 2px solid black;
  border-bottom: 2px solid black;
  cursor: pointer;
  font-weight: bold;
  background-color: transparent;
  display: flex;
  align-items: center;
  justify-content: center;


}


.menu-button:hover {
  background-color: blanchedalmond;
}


.current-menu-selected {
  text-decoration: underline;
  background-color: coral;
}


#all-todo-button::after,
#projects-button::after,
#today-button:after,
#tomorrow-button::after {
  content: attr(counter-data);
  font-size: 1rem;
  border: 1px solid black;
  margin-left: 5px;
  padding: 2px;

}


.todo-display {
  width: 70vw;
  height: 100vh;
  position: relative;
  margin: 2vw;
}


.display-menu-header {
  text-align: center;
}


.list {
  margin-bottom: 5px;
  list-style: none; 
  border: 1px solid black;

}


.shown-content {
  display: flex;
  align-items: center;
  
}


.task-done {
  text-decoration: line-through;

}


.priority-marker {
  height: 15px;
  width: 15px;
  border-radius: 50%;
  display: inline-block;
  margin-left: 5px;
  vertical-align: middle;
}

.right-aligned-content {
  margin-left: auto;
  display: flex;
  justify-content: space-between;
}


.buttons-container {
  display: flex;
  align-items: center;
}

.down-arrow,
.up-arrow,
.edit-icon {
  width: 20px;
}



.collapse-button {
  font-size: 0.8rem;
  background-color: transparent;
  border-radius: 10px;
  border: none;
  cursor: pointer;
}

.edit-task-button,
.expand-button {
  font-size: 0.8rem;
  background-color: transparent;
  border-radius: 10px;
  border: none;
  cursor: pointer;
  display: none;
}

.expand-button,
.collapse-button {
  margin: 0 15px;

}


.list:hover .show{
  display: inline-flex;
  background-color: transparent;
}

.hide {
  display: none;
}

.hide-collapse {
  display: none;
}


.active {
  display: inline-flex;
}

.project-info {
  text-align: center;
}



.delete-bin {
  width: 35px;
}
 
.delete-bin-button {
  border: none;
  cursor: pointer;
  background-color: transparent;
  border-radius: 15px;
  margin-left: 10px;
 }
 
.delete-bin-button:hover {
  background-color: lightgrey;
 }


.hidden-container {
  display: none;
  overflow: hidden;
  background-color: #f1f1f1;
}


.notes-container {
  border: 1px solid black;
  padding: 30px;

}





.add-new-todo-button,
.add-new-project-button {
  color: white;
  position: absolute;
  background-color: #008CBA;
  bottom: 20px;
  right: 20px;
  padding: 0 15px;
  font-size: 3rem;
  border-radius: 50%;
  border: 2px solid transparent;
  cursor: pointer;
}

.add-new-todo-button:hover,
.add-new-project-button:hover {
  background-color: white;
  border: 2px solid #008CBA;
  color: #008CBA;
}





.form-container {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  position: absolute;
  top: 0;
  justify-content: center;
  display: none;
  z-index: 1;
}

.form {
  border: 2px solid black;
  padding: 60px 30px;
  background-color: white;
  position: relative;
  margin-top: 100px;
  height: 500px;

}



.form-header {
  font-size: 2rem;
  text-align: center;
  width: 100%;
  margin-bottom: 30px;
}



.x-button {
  position: absolute;
  right: 10px;
  transform: rotate(45deg);
  top: 3px;
  font-size: 1.5rem;
  cursor: pointer;
}

.x-button:hover {
  font-size: 1.8rem;
}


table {
  border-spacing: 0 10px;
}


.form-label {
  text-align: right;
  vertical-align: top;
}

textarea {
  resize: none;
}


.form-buttons {
  margin-top: 20px;
  width: 100%;
  text-align: center;

}

.form-buttons button {
  border: 1px solid white;
  padding: 5px 10px;
  cursor: pointer;
}


.submit-button:hover {
  background-color: rgb(45, 231, 255);
  border: 1px solid black;
}


.cancel-button {
  margin-left: 10px;

}

.cancel-button:hover {
  background-color: rgb(180, 180, 180);
  border: 1px solid black;
}



.project-container {
  border: 2px solid black;
  padding: 10px 0;
}

.project-title {
  display: flex;
  align-items: center;
}


.edit-project-button {
  margin-left: 50px;
}



.delete-buttons-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
}

.delete-buttons-container button {
  width: 100%;
  margin-bottom: 5px;
  padding: 5px 10px;
  border: 1px solid white;
  cursor: pointer;
}

.delete-buttons-container button:hover {
  background-color: red;
  border: 1px solid black;
  font-weight: bold;
}



.bar {
  width: 30px;
  height: 3px;
  background-color: white;
  margin: 5px;
  border-radius: 15px;
}


.toggle-menu {
  display: none;
}

ul {
  padding: 0;
}



@media screen and (max-width: 780px) {
 
  .todo-app {
    display: block;
  }

  .todo-display {
    margin: 0 auto;
    width: 95vw;
  }

  .toggle-menu {
    z-index: 2;
  }
   
 
  .side-bar {
    height: 100px;
    display: flex;

  }
  
  .toggle-menu {
    display: block;
  }


  .nav-links {
    position: fixed;
    background-color: #5b78c7;
    height: 100vh;
    width: 100%;
    z-index: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 20px 0;
    clip-path: circle(100px at 10% -50%);
    -webkit-clip-path: circle(100px at 10% -50%);
    transition: all 1s ease-out;

    
  }

  .nav-links.open {
    clip-path: circle(1200px at 10% -10%);
    -webkit-clip-path: circle(1200px at 10% -10%);

  }


 .project-info {
   font-size: .6rem;
 }


  .hide-small-window {
    display: none;
  }

  .show {
    display: inline-flex;
  }
 

  .right-aligned-content {
    margin-left: auto;
    display: flex;
    justify-content: space-between;
    flex-direction: column-reverse;
  }

  .buttons-container {
    display: flex;
    justify-content: space-between;
  }

 

  .expand-button,
  .collapse-button {
    margin: 0;

  }


  .delete-bin-button {
    margin-left: 5px;

  }

  .delete-bin {
    width: 25px;
  }



}